{% extends "livenews/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Register Here!</legend>
                {{form | crispy}}
            </fieldset>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-primary">Sign Up</button>
            </div>
            <div class="border-bottom pt-3">
                <small text-muted>
                    Already a registered member? <a class="ml-3" href="{% url 'news-login'%}">Login</a>
                </small>
            </div>
        </form>
    </div>
{% endblock content %}

